<div class="row">
    <div id="sidebar-left" class="col-xs-2 col-sm-2">
        <ul class="nav main-menu">
            {{ if eq .Params.user "user"}}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                    <i class="fa fa-bar-chart-o"></i>
                    <span class="hidden-xs">User</span>
                </a>
                <ul class="dropdown-menu" style="display: block;">
                    <li><a href="/user/input_infor">input infor</a></li>
                    <li><a href="/user/update_infor">update infor</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-bars"></i>
                            <span class="hidden-xs">input money</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/input_money/show_company_account">show company account</a></li>
                            <li><a href="/user/input_money/confirm_money_input">money input list</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-bars"></i>
                            <span class="hidden-xs">output money</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/output_money/input_account">input account</a></li>
                            <li><a href="/user/output_money/input_transfer_out">input transfer out</a></li>
                            <li><a href="/user/output_money/modify_transfer_out">modify transfer out</a></li>
                            <li><a href="/user/output_money/confirm_transfer_out">confirm transfer out</a></li>
                        </ul>
                    </li>
                    <li><a href="/user/product">product</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-bars"></i>
                            <span class="hidden-xs">transaction</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/transaction/input_account">input account</a></li>
                            <li><a href="/user/transaction/input_transfer_out">input transfer out</a></li>
                            <li><a href="/user/transaction/modify_transfer_out">modify transfer out</a></li>
                            <li><a href="/user/transaction/confirm_transfer_out">confirm transfer out</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-bars"></i>
                            <span class="hidden-xs">refund</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/refundy/input_account">input account</a></li>
                            <li><a href="/user/refund/input_transfer_out">input transfer out</a></li>
                            <li><a href="/user/refund/modify_transfer_out">modify transfer out</a></li>
                            <li><a href="/user/refund/confirm_transfer_out">confirm transfer out</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            {{ end }}
            {{ if eq .Params.user "manager"}}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                    <i class="fa  fa-bell"></i>
                     <span class="hidden-xs">Manager</span>
                </a>
                <ul class="dropdown-menu" style="display: block;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-bars"></i>
                            <span class="hidden-xs">User Register</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="deptleaderaudit">check user infor</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-phone-square"></i>
                            <span class="hidden-xs">input money</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="purchasemanager">check company account</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-phone-square"></i>
                            <span class="hidden-xs">output money</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="purchasemanager">check tranfer out</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            {{ end }}
            {{ if eq .Params.user "senior_manager"}}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                    <i class="fa fa-truck"></i>
                    <span class="hidden-xs">senior_manager</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="ajax-link" href="myleaves">我发起的请假流程</a></li>
                    <li><a class="ajax-link" href="myleaveprocess">我正在参与的请假流程</a></li>
                    <li><a class="ajax-link" href="mypurchase">我发起的采购流程</a></li>
                </ul>
            </li>
            {{ end }}
            {{ if eq .Params.user "system_manager"}}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                    <i class="fa fa-cog"></i>
                    <span class="hidden-xs">system manager</span>
                </a>
                <ul class="dropdown-menu" style="display: block;">
                    <li>
                        <a href="/system_manager/process_list" class="active ajax-link">
                            <i class="fa fa-dashboard"></i>
                            <span class="hidden-xs">workflow list</span>
                        </a>
                    </li>
                    <li><a href="/system_manager/user">user management</a></li>
                    <li><a href="/system_manager/role">role management</a></li>
                    <li><a href="/system_manager/user_role">right management</a></li>
                </ul>
            </li>
            {{ end }}
        </ul>
    </div>
