{{ define "main" }}

<!--Start Breadcrumb-->
<div class="row">
	<div id="breadcrumb" class="col-xs-12">
	<a href="#" class="show-sidebar">
						  <i class="fa fa-bars"></i>
						</a>
		<ol class="breadcrumb pull-left">
			<li><a href="/">top</a></li>
			<li><a href="#">{{.Params.user}}</a></li>
			<li><a href="#">{{.Params.title}}</a></li>
		</ol>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="box ui-draggable ui-droppable" id="dept">
				<div class="box-header">
					<div class="box-name">
						<i class="fa fa-coffee"></i> <span>{{.Params.title}}</span>
					</div>
					<div class="box-icons">
						<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
						</a> <a class="expand-link"> <i class="fa fa-expand"></i>
						</a> <a class="close-link"> <i class="fa fa-times"></i>
						</a>
					</div>
					<div class="no-move"></div>
				</div>
				<div class="box-content">
					<form role="form" action="startleave" method="post">
						{{range $index, $element := .Params.datalist}}
							<div class="form-group">
								<label>{{$element.name}}</label>
								{{if eq $element.type "option"}} 
									<select id="{{$element.id}}" name="{{$element.name}}" class="form-control">
										{{range $index2, $element2 := $element.option}}
											<option value="{{$element2.value}}">{{$element2.text}}</option>
										{{end}}
									</select>
								{{else if eq $element.type "datatime"}} 
									<input id="{{$element.id}}" class="form-control" name="{{$element.name}}" placeholder="{{$element.text}}"/><span class="fa fa-calendar txt-danger form-control-feedback"></span>
								{{else if eq $element.type "textarea"}} 
									<textarea id="{{$element.id}}" class="form-control" name="{{$element.name}}" rows="3"></textarea>
								{{else}} 
									<input id="{{$element.id}}" class="form-control" name="{{$element.name}}"/>
								{{end}}
							</div>
						{{end}}

						{{range $index, $element := .Params.buttonlist}}
							<a href="{{$element.url}}" class="btn btn-primary">{{$element.name}}</a>
						{{end}}
						
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$("#btn").click(function(){
		$.post("startleave",$("form").serialize(),function(){
			alert("申请成功");
			LoadAjaxContent("leaveapply");
		});
	});
	
	$('#start').datepicker({setDate: new Date(), dateFormat: 'yy-mm-dd'});
	$('#end').datepicker({setDate: new Date(), dateFormat: 'yy-mm-dd'});
	
});

</script>
{{ end }}
